.wordMeaningContainer {
    font-family: var(--primary-font);
    margin-top: var(--spacing-sm);
    .partOfSpeech {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-xlarge);
    }
    .meaning {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-medium);
        color: var(--text-secondary);
        margin-top: var(--spacing-sm);
    }
    .definition {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-medium);
        color: var(--text-primary);
        margin-top: var(--spacing-sm);
    }
}