.phoneticsContainer {
    border-bottom: 1px solid;
    padding: 24px;
    .word {
        font-family: serif;
        font-size: 48px;
        font-weight: 900;
    }
    .pronunciation {
        font-family: serif;
    }
}